# Twitter @dog_rates Analysis

#### OVERVIEW
Three data sources are used that has data on the Twitter account WeRateDogs under the handle @dog_rates.
1. `twitter_archive` *File provided*

2. `image_predictions` *Downloaded programmatically via URL*

3. `tweet_data` *Twitter API accessed**

Aforementioned data

In [1]:
import numpy as np
import pandas as pd
import requests 
import tweepy
import json
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [31]:
# read 'twitter_archive' from file provided
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [114]:
# request library to download 'image_prediction' file
response = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
with open('image_predictions.tsv', mode = 'wb') as file:
    file.write(response.content)
    
# read 'image_prediction file'
image_predictions = pd.read_csv('image_predictions.tsv', delimiter = '\t')

In [7]:
# use tweepy library to query Twitter API 
consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# set rate limit
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

In [8]:
# write querying JSON data to tweet_json.txt
with open('tweet_json.txt', 'a', encoding = 'utf8') as f:
    for tweet_id in twitter_archive['tweet_id']:
        try:
            tweet = api.get_status(tweet_id, tweet_mode = 'extended')
            json.dump(tweet._json, f)
            f.write('\n')
        except:
            print('error')

error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error

Rate limit reached. Sleeping for: 691

error
error

Rate limit reached. Sleeping for: 689

In [11]:
# create list for insert each tweet info
tweets = []

tweet_json = open('tweet_json.txt', 'r')

for line in tweet_json:
    tweet = json.loads(line)
    tweets.append(tweet)
    
tweet_json.close()

In [12]:
# tweets 
print(tweets[0])

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017', 'id': 892420643555336193, 'id_str': '892420643555336193', 'full_text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU", 'truncated': False, 'display_text_range': [0, 85], 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 892420639486877696, 'id_str': '892420639486877696', 'indices': [86, 109], 'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'url': 'https://t.co/MgUWQ76dJU', 'display_url': 'pic.twitter.com/MgUWQ76dJU', 'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 540, 'h': 528, 'resize': 'fit'}, 'small': {'w': 540, 'h': 528, 'resize': 'fit'}, 'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}, 'extended_entities': {'media': [{'id': 892420639486877696, 'id_str': '892420639486877696', 'indices': [86, 109], 'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'url': 'https://t.co/MgUWQ76dJU', 'display_url': 'pic.twitter.com/MgUWQ76dJU', 'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 540, 'h': 528, 'resize': 'fit'}, 'small': {'w': 540, 'h': 528, 'resize': 'fit'}, 'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogs®', 'screen_name': 'dog_rates', 'location': 'links and things ➜', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➜ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀', 'url': 'https://t.co/6ytGi24QCk', 'entities': {'url': {'urls': [{'url': 'https://t.co/6ytGi24QCk', 'expanded_url': 'http://campsite.bio/weratedogs', 'display_url': 'campsite.bio/weratedogs', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 8961723, 'friends_count': 17, 'listed_count': 6357, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 145790, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 13418, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1351720980972933122/I3MnYUdm_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1351720980972933122/I3MnYUdm_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1611883974', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 7386, 'favorite_count': 35090, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'possibly_sensitive_appealable': False, 'lang': 'en'}

In [13]:
# extract specific info 
tweet_data = pd.DataFrame()

tweet_data['id'] = list(map(lambda tweet: tweet['id'], tweets))

tweet_data['retweet_count'] = list(map(lambda tweet: tweet['retweet_count'], tweets))

tweet_data['favorite_count'] = list(map(lambda tweet: tweet['favorite_count'], tweets))

In [14]:
tweet_data.head()

                   id  retweet_count  favorite_count
0  892420643555336193           7386           35090
1  892177421306343426           5499           30376
2  891815181378084864           3635           22840
3  891689557279858688           7560           38362
4  891327558926688256           8145           36642

# Data Wrangling
Data from sources above will be assessed for quality and tidiness guided by four dimensions specifically:
* completeness
* validity 
* accuracy 
* consistency

## Visual Assessment

### 'twitter_archive'

In [15]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [19]:
twitter_archive.sample(4)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
341,832215726631055365,NaN,NaN,2017-02-16 13:11:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Moreton. He's the Good ...,7.932865e+17,4.196984e+09,2016-11-01 03:00:09 +0000,https://twitter.com/dog_rates/status/793286476...,13,10,Moreton,None,None,None,None
134,866686824827068416,NaN,NaN,2017-05-22 16:06:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lili. She can't believe you betrayed h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/866686824...,12,10,Lili,None,None,None,None
1672,682389078323662849,NaN,NaN,2015-12-31 02:33:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Brody. He's a Downton Abbey Falsetto. Add...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682389078...,9,10,Brody,None,None,None,None
2057,671355857343524864,NaN,NaN,2015-11-30 15:51:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lou. He's a Petrarch Sunni Pinto. Well...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671355857...,10,10,Lou,None,None,None,None

In [20]:
# check datatypes
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [21]:
# check missing values
twitter_archive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [23]:
twitter_archive['rating_numerator'].describe()

count    2356.000000
mean       13.126486
std        45.876648
min         0.000000
25%        10.000000
50%        11.000000
75%        12.000000
max      1776.000000
Name: rating_numerator, dtype: float64

In [24]:
twitter_archive['rating_denominator'].describe()

count    2356.000000
mean       10.455433
std         6.745237
min         0.000000
25%        10.000000
50%        10.000000
75%        10.000000
max       170.000000
Name: rating_denominator, dtype: float64

In [25]:
twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [26]:
twitter_archive.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [27]:
twitter_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [28]:
twitter_archive.name.value_counts()

None        745
a            55
Charlie      12
Cooper       11
Lucy         11
           ...
Shadoe        1
Tobi          1
Zeek          1
Strudel       1
Jennifur      1
Name: name, Length: 957, dtype: int64

## 'image_prediction'

In [115]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [116]:
image_predictions.sample(4)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1274,750041628174217216,https://pbs.twimg.com/media/CmfssOtXYAAKa_Z.jpg,1,Labrador_retriever,0.252031,True,Maltese_dog,0.188090,True,golden_retriever,0.133017,True
1392,767122157629476866,https://pbs.twimg.com/media/CqVdiBJWIAEDZB4.jpg,2,toy_poodle,0.873841,True,miniature_poodle,0.059192,True,Irish_terrier,0.035306,True
901,700002074055016451,https://pbs.twimg.com/media/CbboKP4WIAAw8xq.jpg,1,Chihuahua,0.369488,True,schipperke,0.243367,True,pug,0.161614,True
92,667546741521195010,https://pbs.twimg.com/media/CUOaOWXWcAA0_Jy.jpg,1,toy_poodle,0.787424,True,miniature_poodle,0.202225,True,teddy,0.004047,False

In [117]:
# check datatypes
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [118]:
# check missing values
image_predictions.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [119]:
# check for duplicates
image_predictions.duplicated().sum()

0

### 'tweet_data'

In [39]:
tweet_data.head()

                   id  retweet_count  favorite_count
0  892420643555336193           7386           35090
1  892177421306343426           5499           30376
2  891815181378084864           3635           22840
3  891689557279858688           7560           38362
4  891327558926688256           8145           36642

In [41]:
# check datatypes 
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2331 non-null   int64
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(3)
memory usage: 54.8 KB

In [43]:
# check for duplicates
tweet_data.duplicated().sum()

0

In [46]:
# top 10 retweet_count 
tweet_data.sort_values(['retweet_count'], ascending = 0)[0:10]

                      id  retweet_count  favorite_count
1015  744234799360020481          74511          150907
1055  739238157791694849          55521          111595
517   807106840509214720          54326          116497
397   822872901745569793          42008          128994
65    879415818425184262          39175           96315
433   819004803107983360          36159           85684
430   819015337530290176          36159               0
520   806629075125202948          33985           73602
129   866450705531457537          31705          112939
1741  678399652199309312          30130           76530

# Cleaning Plan Summary

##### Tidiness Issues:
1. The following columns in `twitter_archive` should be reported as a value under type one column heading: 'doggo', 'floofer', 'pupper', and 'puppo'
<br><br>
2. `tweet_data` merged with `twitter_archive` table. 

##### Quality Issues:

`twitter_archive` table

1. Missing data found in the following columns: 'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'.
<br><br>
2. The datatype of 'timestamp' is not formatted as datetime data.
<br><br>
3. Column 'expanded_urls' have missing values indicating no images.
<br><br>
4. First letter of dog names are inconsistently capitalized. 
<br><br>
5. 'source' columns contains heavy residual text from html code.
<br><br>
6. There are a few ratings with a denominator other than 10.

`image_predictions` 

7. The prediction of dog breeds (or object) have inconsistent capitalization.

## Clean Data

In [48]:
# create copies for cleaning
twitter_archive_clean = twitter_archive.copy()
image_prediction_clean = image_predictions.copy()
tweet_data_clean = tweet_data.copy()

**Tidiness Issue #1:** The following columns in `twitter_archive` should be reported as a value under type one column heading: 'doggo', 'floofer', 'pupper', and 'puppo'

In [51]:
twitter_archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [53]:
# only one word should remain in the row among the columns in list 'age' / All 'None' are deleted
stage = ['doggo', 'floofer', 'pupper', 'puppo']
for i in stage:
    twitter_archive_clean[i] = twitter_archive_clean[i].replace('None', '')

In [59]:
# merge all 4 columns under one 'age'
twitter_archive_clean['stage'] = twitter_archive_clean.doggo.str.cat(twitter_archive_clean.floofer).str.cat(twitter_archive_clean.pupper).str.cat(twitter_archive_clean.puppo)

# verify changes
twitter_archive_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,,,,,

In [60]:
# drop the old columns
twitter_archive_clean = twitter_archive_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1)

# verify changes
twitter_archive_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,

In [61]:
# fill empty columns
twitter_archive_clean['stage'] = twitter_archive_clean['stage'].replace('', np.nan)

# verify change
twitter_archive_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN

**Tidiness Issue #2:** `tweet_data` merged with `twitter_archive` table. 

Tables will be merged together under `tweet_data` using inner join.

In [63]:
# rename 'tweet_id' to 'id' in twitter_archive
twitter_archive_clean.rename(columns={'tweet_id' : 'id'}, inplace=True)

# join tables on 'id' and use inner join
twitter_archive_clean = pd.merge(twitter_archive_clean, tweet_data, on='id', how = 'inner')

# drop duplicated due to join
twitter_archive_clean = twitter_archive_clean.drop_duplicates()

In [64]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2331 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2331 non-null   object
 4   source                      2331 non-null   object
 5   text                        2331 non-null   object
 6   retweeted_status_id         163 non-null    float64
 7   retweeted_status_user_id    163 non-null    float64
 8   retweeted_status_timestamp  163 non-null    object
 9   expanded_urls               2272 non-null   object
 10  rating_numerator            2331 non-null   int64
 11  rating_denominator          2331 non-null   int64
 12  name                        2331 non-null   object
 13  stage                       375 non-null    object
 14  retweet_count               2331 non-null   int64
 15  favorite_count              2331 non-null   int64
dtypes: float64(4), int64(5), object(7)
memory usage: 309.6+ KB

**Quality Issue #1:** Missing data found in the following columns: 'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'.

Since the columns mention contain at most data for 7% of the dataset - these columns will be dropped since not enough data is available or can be available to use.

In [66]:
# drop aforementioned columns
todrop_columns = ['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp']

twitter_archive_clean = twitter_archive_clean.drop(todrop_columns, axis = 1)

# confirm changes
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2331 non-null   int64
 1   timestamp           2331 non-null   object
 2   source              2331 non-null   object
 3   text                2331 non-null   object
 4   expanded_urls       2272 non-null   object
 5   rating_numerator    2331 non-null   int64
 6   rating_denominator  2331 non-null   int64
 7   name                2331 non-null   object
 8   stage               375 non-null    object
 9   retweet_count       2331 non-null   int64
 10  favorite_count      2331 non-null   int64
dtypes: int64(5), object(6)
memory usage: 218.5+ KB

**Quality Issue #2:** The datatype of 'timestamp' is not formatted as datetime data.

The datatype will be changed accordingly.

In [ ]:
# change datatype
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])

# confirm changes
twitter_archive_clean['timestamp'].head(1)

**Quality Issue #3:** Column 'expanded_urls' have missing values indicating no images.

There are 59 tweets that do not contain a picture indicated by no value in the expanded_url column. Since these tweets contain information outside the scope of the analysis these lines will be removed from the dataset.

In [67]:
# drop rows with NaN in 'expanded_urls' column
twitter_archive_clean = twitter_archive_clean.dropna(subset = ['expanded_urls'])

# confirm change
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2272 entries, 0 to 2330
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2272 non-null   int64
 1   timestamp           2272 non-null   object
 2   source              2272 non-null   object
 3   text                2272 non-null   object
 4   expanded_urls       2272 non-null   object
 5   rating_numerator    2272 non-null   int64
 6   rating_denominator  2272 non-null   int64
 7   name                2272 non-null   object
 8   stage               369 non-null    object
 9   retweet_count       2272 non-null   int64
 10  favorite_count      2272 non-null   int64
dtypes: int64(5), object(6)
memory usage: 213.0+ KB

**Quality Issue #4:** First letter of dog names are inconsistently capitalized. 

The first letter of all dog names will be capitalized for consistency.

In [69]:
# capitalize first letter of all dog names
twitter_archive_clean['name'] = twitter_archive_clean.name.str.capitalize()

# confirm change
twitter_archive_clean['name'].str.islower().sum()

0

**Quality Issue #5:** 'source' columns contains heavy residual text from html code.  

The content will be consolidated to a more concise description based on current values.

In [70]:
# value_count of 'source'
twitter_archive_clean['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2139
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       32
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      10
Name: source, dtype: int64

In [71]:
# simplify text
twitter_archive_clean['source'] = twitter_archive_clean['source'].replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'Twitter for iPhone')

twitter_archive_clean['source'] = twitter_archive_clean['source'].replace('<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>', 'Vine')

twitter_archive_clean['source'] = twitter_archive_clean['source'].replace('<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'Twitter Web Client')

twitter_archive_clean['source'] = twitter_archive_clean['source'].replace('<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>', 'TweetDeck')

# confirm changes
twitter_archive_clean['source'].value_counts()

Twitter for iPhone    2139
Vine                    91
Twitter Web Client      32
TweetDeck               10
Name: source, dtype: int64

**Quality Issue #6:** There are a few ratings with a denominator other than 10.

Based on value_counts for the denominator and given information about the Twitter account it appears that there are some lines with a value besides 10. This includes 23 rows. The text will be examined from these rows closer to determine what approach should be done.

In [74]:
# view only data with denominator values not 10
not10 = twitter_archive_clean[twitter_archive_clean['rating_denominator'] != 10]

pd.set_option('display.max_colwidth', -1)
not10[['id', 'text']]

<ipython-input-74-f4082a02810e>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,id,text
417,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd
499,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx
879,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE
1044,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ"
1096,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
1141,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a
1178,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq
1204,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1
1230,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12
1250,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK"
1327,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa
1409,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ
1610,684225744407494656,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3"
1611,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55
1638,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5
1754,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq
1818,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw
2310,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv

Reviewing the full text of the 23 tweets with non-10 denominators, there appears 5 of them where the information extracted from the tweet was incorrect given by other numbers listed earlier in similar format. For these 5, the corrections can be made in the correct inaccuracies. The remaining will need to be  

The 5 tweets are the following (identified by 'id'): ['740373189193256964', '722974582966214656', '716439118184652801', '682962037429899265', '666287406224695296']

In [88]:
# change denominator to 10
twitter_archive_clean.loc[twitter_archive_clean.id == 740373189193256964, ['rating_denominator']] = 10

twitter_archive_clean.loc[twitter_archive_clean.id == 722974582966214656, ['rating_denominator']] = 10

twitter_archive_clean.loc[twitter_archive_clean.id == 716439118184652801, ['rating_denominator']] = 10

twitter_archive_clean.loc[twitter_archive_clean.id == 682962037429899265, ['rating_denominator']] = 10

twitter_archive_clean.loc[twitter_archive_clean.id == 666287406224695296, ['rating_denominator']] = 10

# test change
twitter_archive_clean.loc[twitter_archive_clean.id == 666287406224695296, ['rating_denominator']]

      rating_denominator
2310  10

In [90]:
# correct the numerators of tweets above based on text
twitter_archive_clean.loc[twitter_archive_clean.id == 740373189193256964, ['rating_numerator']] = 14

twitter_archive_clean.loc[twitter_archive_clean.id == 722974582966214656, ['rating_numerator']] = 13

twitter_archive_clean.loc[twitter_archive_clean.id == 716439118184652801, ['rating_numerator']] = 11

twitter_archive_clean.loc[twitter_archive_clean.id == 682962037429899265, ['rating_numerator']] = 10

twitter_archive_clean.loc[twitter_archive_clean.id == 666287406224695296, ['rating_numerator']] = 9

# test change
twitter_archive_clean.loc[twitter_archive_clean.id == 716439118184652801, ['rating_numerator']]

      rating_numerator
1178  11

In [91]:
twitter_archive_clean.shape

(2272, 11)

In [ ]:
# drop the other
twitter_archive_clean.drop([''])

In [ ]:
# confirm rows dropped

**Quality Issue #7:** The prediction of dog breeds (or object) have inconsistent capitalization. 

For consistency, the values in the prediction columns will all be lower case. Also the underscore character ('_') currently used to seperate more than one word will be replaced with a space.

In [120]:
# consistent formatting of all predictions
image_predictions['p1'] = image_predictions.p1.str.lower()
image_predictions['p1'] = image_predictions.p1.str.replace('_', ' ')

image_predictions['p2'] = image_predictions.p2.str.lower()
image_predictions['p2'] = image_predictions.p2.str.replace('_', ' ')

image_predictions['p3'] = image_predictions.p3.str.lower()
image_predictions['p3'] = image_predictions.p3.str.replace('_', ' ')

In [121]:
# confirm changes
image_predictions.sample(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
492,675706639471788032,https://pbs.twimg.com/media/CWCXj35VEAIFvtk.jpg,1,english springer,0.990300,True,welsh springer spaniel,0.002080,True,cocker spaniel,0.002014,True
1860,842163532590374912,https://pbs.twimg.com/media/C6_3QgMWsAMNnAk.jpg,2,french bulldog,0.891227,True,soccer ball,0.022811,False,bull mastiff,0.012852,True
420,674042553264685056,https://pbs.twimg.com/media/CVquIDRW4AEJrPk.jpg,1,toy poodle,0.927975,True,miniature poodle,0.068946,True,standard poodle,0.001316,True

# final review

In [ ]:
twitter_archive_clean.info()

In [ ]:
twitter_archive_clean.sample(5)

In [ ]:
image_predictions.info()

In [ ]:
image_predictions.sample(5)

In [ ]:
# store

# Visualizations